select,input{
font-size:14pt;
}
input,select {
padding:5px 10px;
width:100%;
}
p{
color:#2F4F4F;
font-size:20pt;
}
.form button{
	padding: 5px 10px;
	margin:  10px 0;
	width: 40%;
}
.form .dropdown-menu{
	left:8%;
	border: none;
	box-shadow: none;
	min-width: 0;
} 
.form .deleted{
	color: #6a0400!important;
	font-weight: 900;
}
.wrapp{
width:60%;
margin:0 auto;
}
.form{
padding: 10px;
width:50%;
float: left;
}
.form:first-child{
border-right: 1px solid #000;
}
.form .dropdown-menu a{
display: inline-block;

}
.del_sub{
float: right;
}